:root {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  --game-container: rgba(221, 225, 65, 100);
  --board-background: rgba(221, 225, 65, 100);
  color: aliceblue;
  font: 14px "Century Gothic", Futura, sans-serif;
  text-align: center;
  line-height: 1.4;
  text-overflow: ellipsis;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
}
* {
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}
button {
  border: 0.05em solid black;
  border-radius: 0.5em;
}
ol,
ul {
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
}

.square {
  background: var(--board-background);
  border: 0.1em solid rgba(241, 241, 232, 100);
  font-size: 24px;
  font-weight: bold;

  height: 20vh;
  width: 20vh;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}
ol,
li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}
.game-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
